@import "../../theme/theme";

.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    height: 80vh;
    margin-left: 50px;
    margin-right: 50px;

    background-image: url("../../images/header/Header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    background-size: cover;
  
    font-family: $secondary-header-font;
    font-size: 22px;
    color: $white;
}

.HeaderMargin {
    display: flex;
    align-items: center;

    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 1200px) {
    .Header {
        background-image: url("../../images/header/MobileHeader.svg");
        background-size: cover;
        height: 100vh;
        margin-top: 25px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 500px) {
    .Header {
        background-image: url("../../images/header/MobileHeader.svg");
        height: 40vh;
        margin-top: 25px;
        margin-left: 0px;
        margin-right: 0px;
    }
}