@import "../../theme/theme";

.NavBar {  // navbar container
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    
  
    background-color: transparent;
  
    font-family: $secondary-header-font;
    font-size: $body-font-size;
    color: $raisin-dark;

  }


.technolgap{ // technolgap logo
    flex-grow:1;
}

.technolgap:hover{
  cursor: default; 
}

.navButtons{  // page navigation links
  padding-left: 2%;
  background-color: transparent;
}

.activePage{ // active page indicator (pink rectangle behind current page link)
  position: fixed;
  width: 56px;
  height: 14px;
  z-index: -1;
  margin-left: 5px;
  margin-top: 33px;
}

.navButtons:hover{
  cursor: pointer;

}


.navButtons:hover .activePage{
  background-color: $misty-pink;
}