@import "../../theme/theme";

.NavBar {  // navbar container
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 60px;
    width: 80%;
    margin-left:10%;
    margin-top: 10px;
    
  
    background-color: transparent;
  
    font-family: $secondary-header-font;
    font-size: $body-font-size;
    color: $raisin-dark;

  }


.technolgap{ // technolgap logo
    position: relative;
    flex-grow: 1;
}

// .technolgap{ // technolgap logo
//     position: relative;
//     margin-right: auto;
// }

.technolgap:hover{
  cursor: default; 
}

.navButtons{  // page navigation links
  padding-left: 2%;
  background-color: transparent;
}

.activePage{ // active page indicator (pink rectangle behind current page link)
  position: fixed;
  width: auto;
  height: 14px;
  z-index: -1;
  margin-left: 5px;
  margin-top: 33px;
  background-color: $misty-pink;
  color: transparent;
}


.inactivePage{
  position: fixed;
  width: 56px;
  height: 14px;
  z-index: -1;
  margin-left: 5px;
  margin-top: 33px;
  background-color: transparent;
  color: transparent;
  
}

.navButtons:hover{
  cursor: pointer;

}


.logo{
  position: absolute;
  z-index: 1;
  left: -24.5px;
  top:-3px
}


.navList{
  list-style: none;
  display: flex;
}

.navItem{
//  position: fixed;
 cursor: pointer;
 padding-left: 10px;


}

.navItem:first-child{
  margin-right:auto;
}



