@import "../../theme/theme";

.Title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    height: 60px;
    width: 100%;
    padding: 10px 0;
  
    font-family: $secondary-header-font;
    font-size: 22px;
    color: $raisin-dark;
}

.underline {
    position: relative;
    width: 500px;
    height: 35px;
    left: 265px;
    top: 290px;

    background-color: $misty-pink;
}

.title {
    position: relative;
    left: 272px;
    padding: 100px 0px;
    z-index: 5;
}
