@import "../../theme/theme";


.titleBackground {
    height: 35px;
    width:500px;
    background-color: $misty-pink;
    margin-top: -25px;
    position: relative;
    left: 180px; 
    top: 50px;
}

.container {
    display: flex;
    margin-top: -50px;
    margin-bottom: 30px;
    padding:0px;
}

.underline {
    position: absolute;
    height: 35px;
    width:500px;
    background-color: $misty-pink;
    margin-top: -25px;
    left: 19%;
}

.title {
    position: absolute;
    padding: 100px 0 0 0;
    font-size: 18px;
    left: 20%;
}

@media only screen and (max-width: 992px){
    .underline{
        width:70%;
    }
}
