@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Enriqueta&family=Montserrat&display=swap');

$body-font: 'Barlow', sans-serif;
$primary-header-font: 'Enriqueta', serif;
$secondary-header-font: 'Montserrat', sans-serif;
$link: 'Barlow', sans-serif;

$body-font-size: 18px;
$primary-header-font-size: 48px;
$secondary-header-font-size: 24px;
$link-font-size: 18px;