@import "../../theme/theme";

.ContactSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
  
    background-color: $raisin-dark;
  
    font-family: $secondary-header-font;
    font-size: $body-font-size;
    color: $white;
}

.jumbotron {
    padding: 50px 200px 70px 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HQTitle {
    font-size: 40px;
}

.HQText {
    font-size: 25px;
}

.HQButton {
    background-color: $raisin-dark;
    font-family: $secondary-header-font;
    border: 2px white solid;
    padding: 25px 80px;
    color: white;
    font-size: 18px;
    margin: 50px 10px 10px 10px;
}

.centering {
    text-align: center;
}
