@import "../../theme/theme";

.ContactSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    height: 60px;
    width: 100%;
    padding: 10px 0;
  
    background-color: $raisin-dark;
  
    font-family: $secondary-header-font;
    font-size: $body-font-size;
    color: $white;
}
