@import "../../theme/theme";


.container {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.shadowBox {
    position: relative;
    left: 8%;
    right: 10%;
    width: 80%;
    height: 650px;
}

.whiteBox {
    position: relative;
    left: 35px;
    top: -35px;
    background-color: $white;
    width: 100%;
    height: 650px;
}

.textBox {
    font-family: $body-font;
    font-weight: lighter !important;
    position: relative;
    width: 945px;
    left: 50%;
    top: 50%;
    height: 245px;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    width: 80%;
}

@media only screen and (max-width: 1000px) {
    .whiteBox{
        height:800px;
    }
    .shadowBox{
        height:800px;
    }
    .textBox {
        top: 40%;
    }  
}

@media only screen and (max-width: 768px) {
    .whiteBox{
        height:900px;
    }
    .shadowBox{
        height:900px;
    }
    .textBox {
        top: 35%;
    }

}

@media only screen and (max-width: 600px) {
    .whiteBox{
        height:1200px;
    }
    .shadowBox{
        height:1200px;
    }
    .textBox {
        top: 30%;
    }
}
@media only screen and (max-width: 440px) {
    .whiteBox{
        height:1300px;
    }
    .shadowBox{
        height:1300px;
    }
    .textBox {
        top: 25%;
    }
}
@media only screen and (max-width: 290px) {
    .whiteBox{
        height:2000px;
    }
    .shadowBox{
        height:2000px;
    }
    .textBox {
        top: 20%;
    }
}


