@import "../../theme/theme";


.container {
    display: flex;
    padding: 10px 0 250px 0;
    
    width: 100%;
}
.shadowBox {
    position: relative;
    width: 1200px;
    left: calc(50% - 1174.94px/2 - 17.53px);
    margin: 40px 0;
}

.whiteBox {
    position: relative;
    width: 1200px;
    left: 35px;
    top: -35px;
    background-color: white;
}

.textBox {
    font-family: Barlow;
    font-weight: lighter !important;
    position: relative;
    width: 945px;
    left: 50%;
    top: 50%;
    height: 245px;
    transform: translateX(-50%) translateY(-50%);
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
}



